<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <header>
        </header>
        <main>
            <h2><%= pageTitle %></h2>
            <form method="GET" action="/home">
                <button type="submit" name="leave" class="back">Back</button>
            </form>
            <hr/>
            <ul>
                <% events.forEach(function(event) { %>
                      <%if (!event.privateEvent) { %>
                        <h3><%=event.eventName%> </h3>
                        <li><a href="/find-events/<%= event._id%>"> Hosted by: <%= event.djName%> @ <%= event.location%> with <%= event.attendees%> people!</a></li>
                        <% } %>
                    <% }) %>
            </ul>
        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>
